.fc-faq-section,
.fc-section-accordion-simple{


  ul.uk-accordion{


      & > li{
        border-bottom: 1px solid $grey-border;

        &:first-child{
          border-top: 1px solid $grey-border;
        }

        // & .uk-icon{
        //   transition: transform 0.2s ease-in;
        // }

        &.uk-open{

          & .uk-icon{
            transform: scaleY(-1);
          }

        }

        & .uk-accordion-title{

        }
        & .uk-accordion-content{
          border: none;
          
        }

      }

  }

  &.separated{


    ul.uk-accordion{
      border-top: 0px solid transparent;

      & > li{
        border-top: 1px solid $grey-border;
        margin-bottom: 30px !important;
        margin-top: 20px !important;

        & .uk-accordion-title{

        }
        & .uk-accordion-content{
                
        }

      }

  }

  }

  }





 