@import "../flexible/flexible-accordion";
@import "../flexible/flexible-columns";
@import "../flexible/flexible-cards";
@import "../flexible/flexible-page-header";
@import "../flexible/flexible-section-heading";
@import "../flexible/flexible-styles";

@import "../flexible/animated_numbers";

@import "../flexible/flexible-featured-callout";
@import "../flexible/flexible-downloads";

.fc-wrapper,
.fc-page-header
{

  p { margin-top: 0; }

  ul {
    padding-left: 20px;
    list-style-type: square;
    li::marker { color: $orange; }
  }

  p + ul {
    margin-top: 0;
  }

  p:has(+ ul) {
    margin-bottom: 0.25rem;
  }

  .sticky-sidebar .uk-nav {
    list-style-type: none;
    padding-left: 0;
    font-size: 0.875rem;
    li::marker { color: inherit; }
  }

  .uk-accordion {
    list-style-type: none;
    padding-left: 0;
    li::marker { color: inherit; }
  }

  & .top-border > .fc-section-heading{
      border-top: 1px solid $black;
      padding-top: 2rem;
  }

  .fc-section {
    // padding: 30px 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:has(.sticky-sidebar) {
      overflow: visible;

      > * {
        width: 100%;
      }
    }

    & > .uk-container{
      // width: 100%;
    }

     & > .fc-section-columns {
      min-width: calc(100% - 4rem);
      max-width: calc(100% - 4rem);
    }

    // @include breakpoint(medium) {
    //   padding: 50px 0;
    // }

    &.fc-section-1 {
      // padding: 30px 0 30px;

      // @include breakpoint(medium) {
      //   padding: 70px 0 50px;
      // }

    }

    &.fc-section-image {
      //background: rgba(6, 47, 110, 0.66); // radial-gradient(circle, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
      position: relative;
      background-blend-mode: multiply;

      img.fc-section-background-image {
        height: 100%;
        object-fit: cover;
        position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
        width: 100%;
        z-index: -1;
      }

      & > .background-image{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        display: block;
        background-size: cover; 
        background-position: center; 
      }

      h1, h2, h3, h4, h5, h6, p, li, a, .g-section-subtitle {
        color: #fff;
      }

    }
   
    &.center {
      text-align: center;
    } 


    & p:has(.g-section-subtitle){
      margin-bottom: 0;
    }

    & h2:has(.g-section-subtitle) {
      margin-bottom: 0.2rem;
    }

    & h2:has(.g-section-subtitle) + * {
      margin-top: 0.65rem;
    }

  }

  &.fc-wrapper-tabs {

    .fc-section {
      padding: 20px 0 20px;
    }

  }

}

body *{
  & .background--light,
  & .fc-section-light {
    background-color: $white;
  
    //h1, h2, h3, h4, h5, h6, p, a, li, blockquote, .g-style-section-title, .g-style-section-heading, .g-section-subtitle {
    & *:not(.uk-button, .g-section-subtitle, h1, h2, h3, h4, h5, h6, a) {
      color: $black;
    }

    & p a {
      color: $primary;
      &:hover { color: $secondary; }
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5
    & .uk-button-text{
      color: $blue !important;
    }

    & .cards-style--primary{
      & h3{
        color: $white !important;
      }
    }

  }

  & .fc-section-dark {
    background-color: $blue;

    & *:not(.g-section-subtitle) {
      color: #fff;
    }

  }
  
  & .fc-section-grey,
  & .fc-section-gray,
  & .background--gray,
  & .background--grey {
    background-color: $gray-bg;

    & h1, & h2, & h3, & h4, & h5, & h6 {
      color: $primary;
    }
  }

  & .background--image.background--light{
    & *:not( .uk-button ) {
      color: $black;
    }
  }

  & .background--image.background--dark{
    & * {
      color: #fff;
    }
  }


}




.fc-section-cta {

  & h2{
    font-family: $sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.2;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .call-to-action--inner {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .uk-button {
    white-space: nowrap;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &.background--dark {
    background-color: $blue;
    * { color: #fff; }
  }

  &.background--orange {
    background-color: $orange;
    * { color: #fff; }
  }

  &.background--grey {
    background-color: $gray-bg;
    h1, h2, h3, h4, h5, h6 { color: $primary; }
  }

  &.background--light {
    background-color: $white;
    h1, h2, h3, h4, h5, h6 { color: $primary; }
  }
}