.page-breadcrumbs {
  color: $gray;
  
  & span.current-item{
    color: $secondary;
  }

  & *{
    font-size:  0.9375rem;
        font-weight: 600;
  }

  span > a > span {
    color: $gray;

  }

}