.page-breadcrumbs {
  color: $elk-gray !important;
  
  nav {
    font-size:  0.9375rem !important;
    font-weight: 400;
    color: $elk-gray !important;
  }

  & span.current-item{
    color: $secondary !important;
  }

  & *{
    font-size:  0.9375rem !important;
    font-weight: 400;
  }

  span > a > span {
    color: $elk-gray !important;

  }

}