@media (prefers-reduced-motion: reduce) {
    .uk-button {
      transition: none;
    }
  }


.uk-button{
      background-color: $secondary;
      border-radius: 2rem;
      border: none;
      
      font-family: $sans;
      font-size: 1rem;
      font-weight: 700;
      margin: 1rem 0 0 0;
      padding: 0.65rem 2rem;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.5;
      display: inline-flex;
      letter-spacing: 0.04rem;

      &:not(.uk-button-text){
        color: $white;
        &:hover{
          color: $white;
        }
      }

    &:first-child{
        margin-left: 0;
    }

    &:last-child{
        margin-right: 0;
    }
   
    @media screen and (max-width: 950px) {
        margin: 0.5rem;
    }
    

    transition:
        transform 160ms ease,
        background-color 160ms ease,
        color 160ms ease;

        &:hover{
            transform: translateY(-2px);
        }

        &:active{
            transform: translateY(0px);
        }

        &:focus-visible {
            outline: none;
        }

    &.uk-button-large{
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }


    &-arrow {
      position: relative;
      display: inline-flex;
      gap: 0.5rem;
      
      &:after {
        color: #fff;
        content: "\f178";
        font-family: $fontawesome;
        font-weight: 400;
      }
    }

    &-text{
      background: unset;
      padding: 0;
    }

    &-secondary{
      background-color: $blue;
    }


    
}

p:has( .uk-button + .uk-button ){
  display: flex;
  align-items: center;
  gap: 1.8rem;
}


.gform_wrapper.gravity-theme.uavionix_wrapper .gform_button {
  padding-right: 28px;
  margin-left: auto;
  position: relative;

  &:before {
    font-family: $fontawesome;
    content: "\f054";
    font-weight: 900;
    position: absolute;
     top: 5px;
     right: 14px;
    height: 30px;
    font-size: 16px;
    width: 8px;
  }

}

