.fc-page-header {
  display: flex;
  //height: 100px;
  position: relative;
  overflow: hidden;


   & .uk-container:has(.page-header-content){
    width: 100%;
  }


  & img.page-header-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top:50%;
    transform: translateY(-50%);
  }

  .page-header-content-wrapper {
    //background-color: $primary;
    align-self: flex-end;
    width: 100%;

    &.page-header-expanded{
      padding-top: 12.5rem;
      padding-bottom: 12.5rem;
    }

    &.page-header-hero{
      padding-top: 15.5rem;
      padding-bottom: 11.5rem;
    }

    .page-header-content {

     & p:last-child{
      margin-bottom: 0;
     }

    }

  }


}