.fc-page-header {
  display: flex;
  position: relative;
  overflow: hidden;

  & .uk-container:has(.page-header-content){
    width: 100%;
  }

  & img.page-header-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top:50%;
    transform: translateY(-50%);
  }

  .page-header-content-wrapper {
    align-self: flex-end;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }

    &.page-header-expanded{
      padding-top: 12.5rem;
      padding-bottom: 12.5rem;
    }

    &.page-header-hero{
      padding-top: 15vh;
      padding-bottom: 14vh;

      & p{
        font-size: 1rem;

        @include breakpoint(medium) {
          font-size: 1.375rem;
        }
      }

      & h1{
        font-size: 2.75rem;
        font-family: $sans;
        line-height: 1.1;

        @include breakpoint(medium) {
          font-size: 3.75rem;
        }
      }
    }

    .page-header-content {

     & p:last-child{
      margin-bottom: 0;
     }

    }

  }


}