.main-footer {
  background: $footer-bg;
  color: $white;
  padding: 2rem 0 2rem;
  position: relative;
  text-align: center;

  @include breakpoint(medium) {
    padding: 4rem 0 4rem;
    text-align: left;
  }

  a {
    color: #fff;

    &:hover {
      color: $secondary;
      text-decoration: none;
    }
  }

  .footer-menu a:hover,
  .footer-menu-legal a:hover {
    color: $secondary !important;
    text-decoration: none;
  }

  .social-icons a:hover,
  .social-icons a:hover i {
    color: $secondary !important;
  }

  .footer-contact-info p:last-child {
    margin-bottom: 0;
  }

  .footer-logo img {
    max-width: 180px;
    width: auto;
    height: auto;
  }

  .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    li:has(ul) + li{

      @include breakpoint(medium) {
        margin-top: 20px;
      }
    }

    li {
      padding: 0;
      margin-bottom: 10px;

      & + li:has(ul){

        @include breakpoint(medium) {
          margin-bottom: 0;
          margin-top: 20px;
        }
      }

      > a {
        color: $white;
        display: inline-block;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.4;
        padding: 0;
        vertical-align: top;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 0;
          padding: 0;

          a {
            color: $white;
            display: inline-block;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2;
            padding: 6px 0;
            vertical-align: top;

            &:hover {
              color: $secondary;
            }
          }
        }
      }
    }
  }

  .footer-badges {
    border-bottom: 1px solid rgba(#fff,.7);
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    @include breakpoint(medium) {
      flex-direction: row;
      gap: 40px;
    }

    .badge {
      display: flex;
      gap: 10px;
      font-size: 14px;
      color: rgba(#fff,.8);
      justify-content: center;
      align-items: center;

      @include breakpoint(medium) {
        justify-content: flex-start;
      }

      a {
        color: #fff;

        &:hover {
          text-decoration: underline;
        }

      }

      p {
        margin-bottom: 0;
      }

      img {
        height: 20px;
        width: auto;
      }
    }

  }

  .footer-social {
    margin: 10px auto 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;

    @include breakpoint(medium) {
      justify-content: flex-start;
    }


    li {
      color: #fff;
      font-size: 30px;
      
      a {
        color: #fff;
      }
      
    }


  }

  .copyright-container {
    border-top: 1px solid rgba(#fff, 0.5);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
  }

  .footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.875rem;

    .copyright p {
      margin: 0;
      font-size: 0.875rem;
    }

    ul {
      display: flex;
      gap: 30px;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 0.875rem;
      }
    }
  }

  .footer-tagline {
    display: block;
     align-items: center;
    font-size: 30px;
    font-weight: 800;
    margin-top: 50px;
    text-align: center;
    width: 100%;

    @include breakpoint(medium) {
      font-size: 50px;
    }

    @include breakpoint(xlarge) {
      font-size: 90px;
    }

  }

}


.site-footer-form {
  background-color: #eeeded;
  padding: 0 0 40px;
}